{% extends "maria_templates/base.html.twig" %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div class="content-container">
		<div class="content-card">
			<h2>My dashboard content going to be hereeee</h2>
			<!-- Your dashboard content here -->
		</div>

		<div class="content-card">
			<h2>test card </h2>
			<!-- Activity content here -->
		</div>
	</div>

{% endblock %}
