{% extends "maria_templates/base.html.twig" %}

{% block title %}Shop Discounts
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
{% endblock %}

{% block body %}
	<div>
    <h1> TODAYS SUMMARYYYYYYYYYYY </h1>
    </div>

{% endblock %}
